#auth-page header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background-image: url("assets/pictures/indigenous1.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

#auth-page header h3 {
  text-align: center;
  color: white;
  background-color: black;
  padding: var(--space-small);
  margin: 0;
}

#auth-page .logo img {
  width: 50px;
  height: auto;
  margin-top: var(--space-medium);
}

#auth-page button {
  margin: var(--space-big);
  padding: var(--space-small);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  height: 43px;
  width: 136px;
}

.auth-page-content {
  margin-top: var(--space-big);
  margin-bottom: var(--space-bigger);
  margin-right: 0;
  margin-left: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}
#auth-page form {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 300px;
  background-color: var(--color-very-light-blue);
  padding-bottom: var(--space-big);
}

#auth-page form a {
  font-size: 18px;
}

#auth-page form p {
  margin: 0;
  padding: 0;
  color: red;
}

#auth-page form a {
  margin: var(--space-small);
  color: black;
}

.input-field input {
  width: 220px;
  height: 30px;
  color: gray;
  font-size: 20px;
}

.input-field {
  font-size: 20px;
  margin-top: var(--space-medium);
}

.input-checkbox input {
  font-size: 22px;
}

.input-checkbox {
  margin-top: var(--space-medium);
}